header{
	top: 15px;
	position: relative;
}

.menu-opcoes{
	position: absolute;
	bottom: 0;
	right: 0;
}

.menu-opcoes ul{
	font-size: 15px;
}

.menu-opcoes ul li{
	display: inline;
	margin-left: 20px;
}

.menu-opcoes a{
	text-decoration: none;
	color: #003366;
}


.sacola{
	position: absolute;
	top: 20px;
	right: 0;
	background-image: url(../img/sacola.png);
	background-repeat: no-repeat;
	background-position: top right;

	font-size: 14px;
	padding-right: 35px;
	text-align: right;
	width: 140px;

	padding-top: 8px;
}

.container{
	margin: 0 auto;
	width: 940px;
}

body{
	color: #333;
	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
}

#mirror-fashion{
	font-weight: bold;
	text-align: center;
	margin-top: 30px;
	padding: 15px;
	font-size: 30px;
	background-image: url(../img/sobre-background.jpg);
	margin-bottom: 10px;
}

#historia, #diferenciais{
	font-size: 30px;
	text-align: center;
	border-bottom: 2px solid #333;
	margin-bottom: 10px;
	margin-top: 30px; 
}

.texto p , li{
	padding-top: 5px;
	padding-bottom: 5px;
	line-height: 23px;
	text-indent: 20px;
	text-align: left;
}

.texto p strong{
	font-weight: bold;
}

.texto p em{
	font-style: italic;
}

.texto p::first-letter{
	font-weight: bold;
}

.texto li{
	padding: 5px;
	list-style-type: circle;
	margin-left: 17px;
}


.texto figure{
	background-color: #F2EDED;
	text-align: center;
	border: 1px solid #ccc;
	padding: 15px;
	margin: 30px;
}

#centro-distribuicao{
	margin-left: auto;
	margin-right: auto;
	width: 550px;
}

#familia-pelho{
	margin: 12px 0 10px 10px;
	float: right;
}

.texto figcaption{
	font-style: italic;
	margin-top: 10px;
}

footer{
	background-image: url(../img/fundo-rodape.png);
	clear: both;
	padding: 20px 0;
}

footer .container{
	top: 2px;
	margin-top: 25px;
	position: relative;
}

.social{
	position: absolute;
	top: 12px;
	right: 0;
}

.social li	{
	float: left;
	margin-left: 25px;
}

.social a{
	height: 32px;
	width: 32px;
	display: block;
	text-indent: -99999px;
}

.social a[href *="facebook.com"]{
	background-image:	url(../img/facebook.png);
}

.social a[href*="twitter.com"]	{
	background-image:	url(../img/twitter.png);
}

.social a[href*="plus.google.com"]	{
	background-image:	url(../img/googleplus.png);
}



@media (max-width: 320px){
	
	.container{
		width: 96%;
	}

	header h1{
		text-align: center;

	}

	header img{
		max-width: 50%;
	}

	.sacola{
		display: none;
	}

	.menu-opcoes{
		position: static;
		text-align: center;
	}

	.menu-opcoes ul li	{
		display: inline-block;
		margin: 5px;
	}

	.busca, .menu-departamento, .banner-destaque img	{
		padding: 0px;
		width: 100%;
	}

	#mirror-fashion{
		width: auto;
	}

	#centro-distribuicao, #familia-pelho{
		width: 90%;
	}
	#centro-distribuicao img, #familia-pelho img{
		width: 96%
	}

	.texto p{
		text-align: center;
	}
}